:root {
  --white: #f1f1f1;
  --light-grey: #585a5e;
  --dark-grey: #1b2431;
  --primary: #0080a0;
  --body-font: 1rem;
}

/*Generics*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;

}

*:focus {
  outline: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background-color: var(--white);
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  order: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
a,
p {
  padding-top: 1rem;
  color: var(--dark-grey);
  font-size: 1.2rem;
}
a {
  font-weight: 500;
}

/*Buttons*/
.button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;

  display: block;
  border-style: none;
  border: 1px solid;
  padding: 12px 2.4rem;
  background-color: inherit;
  transition: color 0.5s, background-color 0.5s;

  color: inherit;
  text-transform: uppercase;
  letter-spacing: 5px;

  -webkit-appearance: button;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--light-grey);
  transition: color 0.5s, background-color 0.5s;
}

@media (min-width: 600px) {

  h2 {
    font-size: 2rem;
  }
  a,
  p {
    font-size: 1.3rem;
  }
}

@media (min-width: 1000px) {
  .button {
    margin-top: 3.5rem;
    padding: 7px 2.4rem;
  }
}

/*Home*/
.home{
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  box-sizing: border-box;
  outline: none;
  border: none;
}

/*hero*/
.hero{
  width: 90%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.hero .wrapper{
  display: grid;
}

.hero .wrapper .content{
  order: 2;
  padding: 1.2rem;
  padding-left: 0%;
  text-align: left;
}

.hero .wrapper .content .button,
.second .wrapper .content .button{
  margin-left: 0;
}

.hero .wrapper .image{
  order: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.hero .wrapper .image img{
    width: 100%;
    height: 100%;
    max-width: 500px;
    object-fit: contain;
    border-radius: 15px;
}

@media (min-width: 600px){
  .hero .wrapper .image{
    order: 2;
  }

  .hero .wrapper .image img{
    max-width: 900px;
    object-fit: cover;
  }

  .hero .wrapper .content{
    order: 1;
  }

  .hero .wrapper{
    grid-template-columns:  60% 40%;
  }
}

/*second*/
.second{
  width: 90%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.second .wrapper{
  display: grid;
}

.second .wrapper .content{
  order: 2;
  padding: 1.2rem;
  padding-left: 0%;
  text-align: left;
}

.second .wrapper .image{
  order: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
}

.second .wrapper .image .col{
  flex: 33.33%;
  padding: 5px;
}

.second .image img{
  width: 100%;
  height: 100%;
  max-width: 65%;
  object-fit: cover;
  border-radius: 15px;
}

.second .image .hidelater{
    max-width: 30%;

    
}

@media (min-width: 700px){
  .second .wrapper{
    grid-template-columns:  repeat(2,1fr);
  }
}

.service-sec{
  background-color: var(--light-grey);
}

.services{
  width: 90%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  
}

.services h2{
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  color: var(--white);
}

@media (min-width: 600px){
  .services .wrapper{
    display: flex;
    flex-wrap: wrap; 
  }

  .services .wrapper .item{
    flex: 0 0 25%;
  }
}
.services .wrapper .item{
  padding: 0.9375rem;
  text-decoration: none;
  color: var(--white);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
}

.services .wrapper .item h3{
  font-size: 1.5rem;
}

.services .wrapper .item .image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.services .wrapper .item img{
  margin-bottom: 1.875rem;
  height: 7rem;
  width: 16rem;
  border-radius: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.services .wrapper .item .border{
   height: 0.5rem;
   width: 6rem;
   padding: 1px;

   border-radius: 50px;
   -moz-border-radius: 50px;
   align-items: center;
   margin-left: auto;
   margin-right:auto;
   margin-bottom: 0.5rem;
   border: 0;
   border-color: var(--light-grey);
   background: linear-gradient(to right, var(--light-grey), var(--primary));
}

/*Contact Us*/
.contact{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.contact .wrapper{
    width: 86%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

.contact .wrapper h2{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    order: 1;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0.5rem;
    
    border-bottom: 2px solid;
    border-color: var(--dark-grey);
}

.contact .wrapper .content{
    order: 2;
    justify-content: center;
    
    text-align: center;
}

.contact .wrapper .content p{
    padding-top: 1.75rem;
    padding-bottom: 1.5rem;
}

.contact .wrapper .content a{
    padding-top: 1rem;
    color: var(--dark-grey);
    font-weight: 500;
    padding-bottom: 0.5rem;
    right: 0%;
    text-decoration: none;
}

@media (min-width: 600px){
    .contact .wrapper h2{
        justify-self: start;
        font-size: 2.5rem;
        padding-top: 15%;
        padding-bottom: 15%;
        padding-right: 15%;
        border-bottom: 0;
        border-right: 2px solid;
        border-color: var(--dark-grey);
    }
    .contact .wrapper .content{
        padding-top: 5%;
        padding-left: 3%;
        text-align: left;
        
    }

    .contact .wrapper{
        grid-template-columns: 35% 65%;
   
    }
}


/*Blogs*/
.blogs{
  padding-top: 7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.filters{
  order: 1;
}

.blog-wrapper {
  order: 2;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 22rem));
  gap: 2rem;
  justify-content: center;
}

@media (min-width: 700px){
  .blogs{
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 1000px){
  .blogs{
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 30% 70%;
  }
}


.card {
  overflow: hidden;
  box-shadow: 0 2px 20px var(--light-grey);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.card .image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .image .img{
  border: 0;
  outline: 0;
  border-radius: 0;
  vertical-align: top;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .card-content{
  padding: 1.2rem;
  padding-top: 0;
  border-bottom: 3px solid;
  border-color: var(--dark-grey);
}

.card .card-grey{
  padding-top: 0.8rem;
  color: var(--light-grey);
  font-size: 1rem;
}

.card .card-title{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-top: 0;
    padding-top: 0;
    font-weight: 500;
    text-align: left;
    order: 1;
}

.card .card-button{
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    background: transparent;
    margin: 0;
    border-radius: 2px;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card .card-button:hover{
  color: var(--primary);
}

.blog-main{
  padding-top: 7rem;
  width: 90%;
  padding-bottom: 2.5rem;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.blog-main .blog-top .wrapper{
  display: grid;
}

.blog-main .blog-top .content{
  order: 2;
  padding: 1.2rem;
  padding-left: 0%;
  text-align: left;
}

.blog-main .blog-top h3::before {
  display: inline-block;
  content: "";
  border-top: .25rem solid var(--dark-grey);
  width: 3.5rem;
  margin-right: 1rem;
  margin-bottom: -0.5rem;
  transform: translateY(-1rem);
}

.blog-main .blog-top .image{
  order: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.blog-main .blog-top .image img{
    width: 100%;
    height: 100%;
    max-width: 500px;
    object-fit: contain;
    border-radius: 15px;
}

@media (min-width: 600px){
  .blog-main .blog-top .wrapper .image{
    order: 2;
  }

  .blog-main .blog-top .wrapper .image img{
    max-width: 900px;
    object-fit: cover;
  }

  .blog-main .blog-top .wrapper .content{
    order: 1;
  }

  .blog-main .blog-top .wrapper{
    grid-template-columns:  60% 40%;
  }
}

.blog-main .blog-content{
  width: 80%;
  margin-left: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-right: auto;
}

.blog-main .blog-content .wrapper{
  display: grid;
  grid-template-columns:  60% 40%;
}

.blog-main .blog-content .wrapper .date{
  order: 1;
  left: 0;
  text-align: left;
}

.blog-main .blog-content .wrapper .date p{
  margin: 0;
}

.blog-main .blog-content .wrapper .votes{
  order: 2;
  margin-left: 100%;
}

.blog-main .blog-content .post{
  color: var(--primary);
  font-weight: 400;
  font-size: 1.8rem;
}

.blog-main .blog-content .post a:hover{
  color: var(--primary);
}

.blog-main .blog-content .wrapper-com{
  background-color: var(--dark-grey);
  border: 2px solid var(--dark-grey);
  border-radius: 5px;
  width: 80%;
  margin: auto;
}

.blog-main .blog-content .wrapper-com h4{
  padding: 1rem;
  color: var(--white);
  font-weight: 400;
  font-size: 1.8rem;
}

.blog-main .blog-content .wrapper-com .item{
  width: 100%;
  margin: auto;
  padding: 1.5rem;
  background-color: var(--white);
  grid-template-columns:  repeat(2,1fr);
}

.blog-main .blog-content .wrapper-com .item:not(:last-child()){
  border-bottom: var(--dark-grey);
}

.blog-main .blog-content .wrapper-com .item .col{
  display: grid;
  grid-template-columns:  repeat(2,1fr);
}

.blog-main .blog-content .wrapper-com .item .col .user{
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  color: var(--dark-grey);
}

.blog-main .blog-content .wrapper-com .item .col span{
  margin-left: 80%;
}

.blog-main .blog-content .wrapper-com .item .col p{
  font-size: 1rem;
  padding: 0;
  margin: 0;
}


/*footer*/
.footer-basic {
    padding:40px 0;
    background-color: var(--dark-grey);
    color:white;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;

    line-height:1.6;
    margin-bottom:0;
}

@media (max-width: 599px){
    .footer-basic ul {
        display: grid;
    }
}
 
.footer-basic li {
    padding:0 10px;
    display: inline-block;
}
  
.footer-basic ul a {
    color:inherit;
    font-size: 1rem;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    color: #FFD369;
    opacity:1;
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    padding-top:25px;
}
  
.footer-basic .social > a {
    font-size:30px;
    width:100px;
    height:60px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:var(--white);
    opacity:0.75;
}
  
.footer-basic .social > a:hover {
    color: #FFD369;
    opacity:0.9;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}
  
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 15%;
    margin-right: 15%;
    border-style: inset;
    border-width: 1px;
} 

footer .image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer img {
    max-width: 300px;
    display: block;
    margin-top: -16px;
    margin-left: auto;
    margin-right: auto;
}

footer br{
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

